nav {
    display: flex;
    border-bottom: 2px solid #ece6e6;
   
    justify-content: space-around;
    align-items: center;
   
   height: 2cm;
   
    z-index: 999;
  background-color: #18181c;
  }
  .head1
  {
    color: white;
    font-family: Inter, sans-serif;
    font-size: xx-large;
  }
  .logo
  {
    font-size: 50px;
    color: rgb(52, 52, 37);
    transform: rotate(-35deg);
    margin-right: .3cm;
    margin-top: .4cm;
    
  }
  .container
  {
    display: flex;
    flex-direction: row;
    margin-left: -10cm;
  }
  .container2
  {
    margin-right:-10cm;
    margin-top: .4cm;
    justify-items: center;
    align-items:flex-start
  }
.logo2
{
  color: aliceblue;
  font-size: 24px;
  margin-right: .7cm;
  margin-top: 1cm;
}
.btn
{
  height:1cm;
  width:2.5cm;
  border: none;
  border-radius: .3cm;
  background-color: rgb(94, 177, 221);
  position: relative;
  top: -10px;
  
}
.btn:hover
{
  background-color: rgb(94, 177, 270);
}
.logo-search
{
  color: white;
  margin-right: 1cm;
  font-size: 24px;
  
}
